@model TesteProgramacao.Models.Editora

@{
    ViewData["Title"] = "ExcluirEditora";
}

<h2>Excluir Dados</h2>

<h3>Deseja mesmo excluir?</h3>
<div>
    <h4>Editora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeEditora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEditora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
    
    <form asp-action="ExcluirEditora">
        <input type="hidden" asp-for="editoraId" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
