@model IEnumerable<TesteProgramacao.Models.Editora>

@{
    ViewData["Title"] = "Index";
}

<h2>Editoras</h2>

<p>
    <a asp-action="CriarEditora">Adicionar editora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeEditora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEditora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="AtualizarEditora" asp-route-id="@item.editoraId">Editar</a> |
                <a asp-action="ExcluirEditora" asp-route-id="@item.editoraId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
