@model IEnumerable<TesteProgramacao.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h2>Autores</h2>

<p>
    <a asp-action="CriarAutor">Novo autor(a)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="AtualizarAutor" asp-route-id="@item.autorId">Editar</a> | 
                <a asp-action="ExcluirAutor" asp-route-id="@item.autorId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
